@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card col-md-4" style="width: 18rem;">
                <img src="~/img/product.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.SalePrice</p>
                    <a asp-controller="Home" asp-action="AddToCart" asp-route-id="@item.Id">Add Cart</a>
                </div>
            </div>
        }
    </div>
</div>